/* .page-header {
    background-image: url("pexels-rodnae-productions-8111340.jpg");
} */

.section-basic {
    display: flex;
    justify-content: center;
    hyphens: auto;
}

p {
    text-align: justify;
}

.row {
    align-items: center;
}

.img-container {
    padding: 60px;
}