h4 {
    margin-top: 0;
}

p {
    text-align: justify;
}

.img-container {
    padding: 60px;
}

.intro > * {
    margin: 0;
    line-height: normal;
}

.intro > h4 {
    line-height: 1.8;
    margin-top: 5px;
    margin-bottom: 10px;
}

.more-info {
    display: grid;
    gap: 20px;
}

.more-info > div > * {
    padding: 0;
}

.row {
    align-items: center;
}

.section-basic {
    display: flex;
    justify-content: center;
    hyphens: auto;
}

.title {
    margin-bottom: 10px;
}